// Primary Colors
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish: hsl(217, 19%, 35%);
$ery-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
// Neutral
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);
$main-bg: $light-grayish-blue;
//link color
$link-color: hsl(228, 45%, 44%);

//Text
$name-opacity: 0.5;
$text-opacity: 0.7;
$body-size: 13px;

// brek point
$mobile: '(max-width: 767px)';
$small-screen: '(min-width: 768px)';