* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #container {
    height: 100%;
}
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    max-width: 1440px;
    
}
@media screen and (max-width: 375px){
    #container {
        display: block;
        max-width: 375px;
        height: auto;
    }
}
#container #page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    max-width: 1000px;
    padding: 40px;
    justify-content: center;
    align-content: center;
}
@media screen and (max-width: 375px){
    #container #page {
        display: block;
        max-width: 375px;
        padding: 10px;
        height: auto;
    }
}
#container #page > div {
    border-radius: 5px;
    padding: 10px; 
}
@media screen and (max-width: 375px){
    #container #page > div {
        border-radius: 0;
        margin-bottom: 10px;
    }
}
#page .person.one {
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url('images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-color: hsl(263, 55%, 52%);
}
#page .person.one .info .name, #page .person.two .info .name,
#page .person.five .info .name {
    color: hsl(0, 0%, 100%);
}
#page .person.one .info .status, #page .person.two .info .status,
#page .person.five .info .status  {
    color: hsl(0, 0%, 100%);
    opacity: .5;
  
}
#page .person.one .disc h3, #page .person.two .disc h3,
#page .person.five .disc h3 {
    color: hsl(0, 0%, 100%);
    
}
#page .person.one .disc p, #page .person.two .disc p,
#page .person.five .disc p {
    color: hsl(0, 0%, 100%);
    opacity: .7;
}
#page .person.two {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: hsl(219, 29%, 14%);
}



#page .person.three {
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: hsl(0, 0%, 100%);
}
#page .person.three .info .name, #page .person.four .info .name {
    color: hsl(217, 19%, 35%);
}
#page .person.three .info .status, #page .person.four .info .status {
    color: hsl(217, 19%, 35%);
    opacity: .5;
}
#page .person.three .disc h3, #page .person.four .disc h3 {
    color: hsl(217, 19%, 35%);
}
#page .person.three .disc p, #page .person.four .disc p {
    color: hsl(217, 19%, 35%);
    opacity: .7;
}



#page .person.four {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: hsl(0, 0%, 100%);
    
}
#page .person.five {
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: hsl(219, 29%, 14%);
    
}
#page .person .info {
    display: flex;
    align-items: center;
}

#page .person .info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid hsl(0, 0%, 81%);
}
#page .person .info > div {
    margin-left: 10px;
}
#page .person .info  .name {
    font-size: 10px;
    font-weight: 600;
    

}
#page .person .info  .status {
    font-size: 8px;
    font-weight: 500;
}
#page .disc {
    margin-top: 10px;
    padding: 0 10px 10px 10px ;
}
#page .disc h3 {
    margin-bottom: 10px;
}
#page .disc p {
    font-size: 11px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }